!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}
    %link{:href => "css/query.css", :rel => "stylesheet"}
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
  %body
    .row.query-bar
      .col-lg-3
      .col-lg-3
        %button.btn.btn-danger{:type => "button"} test
      .col-lg-3

